
  .priority {
    margin-left: 20px;
    margin-bottom: 20px;

  }

  .task {
      margin-bottom: 10px;
  }

  .btn {
      margin-left: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .navbar-brand:hover {
      opacity: 0.8;
      font-weight: bolder;
  }
